

<h1>Credit Card</h1>

<label>Balance</label>
{{input type="text" value=creditCard.balance size="50"}}

<label>APR</label>
{{input type="text" value=creditCard.apr size="50"}}

<label>Payment</label>
{{input type="text" value=creditCard.payment size="50"}}

<label>Months to Zero</label>
{{input type="text" value=creditCard.monthsToZero size="50"}}